.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  width: 100%;
}

.title {
  margin-top: 0;
}

.result {
  margin-left: auto;
  padding: 1em 2em;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  order: -1;
}

.result > p {
  margin: 0;
}

@media (min-width: 768px) {
  .result {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    order: 1;
  }
}
