:root {
  /* Colors */
  --gray-b: #bebebe;
  --gray-c: #c5c5c5;
  --background-white: #e0e0e0;
  --white: #ffffff;
  --baseColor: #e0e0e0;
  --darkColor: #bebebe;
  --textColor: #001f3f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--baseColor);
  min-height: calc(100vh - 80px);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
